/*-------------------------------------------
  -- Box
-------------------------------------------*/
.ts-box {
  background-color: var(--color-white);
  border-radius: var(--br-md);
  margin-bottom: 30px;
  box-shadow: var(--bs-md);
  padding: var(--p);
}