/*-------------------------------------------
  -- Inputs
-------------------------------------------*/
.ts-input__static {
  pointer-events: none;
  box-shadow: none;
}

.ts-inputs__transparent {
  input, textarea {
    background-color: transparent;
    color: var(--color-white);
    &:active, &:focus {
      background-color: transparent;
      color: var(--color-white);
    }
  }
}