/*-------------------------------------------
  -- Progress
-------------------------------------------*/
.progress {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 0;
  height: 10px;

  .progress-bar {
    background-color: var(--color-primary);
  }
}