/*-------------------------------------------
  -- Opacity
-------------------------------------------*/
.ts-opacity__5 {
  opacity: .05
}
.ts-opacity__10 {
  opacity: .1;
}
.ts-opacity__20 {
  opacity: .2;
}
.ts-opacity__30 {
  opacity: .3;
}
.ts-opacity__40 {
  opacity: .4;
}
.ts-opacity__50 {
  opacity: .5;
}
.ts-opacity__60 {
  opacity: .6;
}
.ts-opacity__70 {
  opacity: .7;
}
.ts-opacity__80 {
  opacity: .8;
}
.ts-opacity__90 {
  opacity: .9;
}