/*-------------------------------------------
  -- Padding
-------------------------------------------*/
:root {
  --p: 25px;
}

.ts-pt__0 {
  padding-top: 0 !important;
}
.ts-pr__0 {
  padding-right: 0 !important;
}
.ts-pb__0 {
  padding-bottom: 0 !important;
}
.ts-pl__0 {
  padding-left: 0 !important;
}