/*-------------------------------------------
  -- Shadow
-------------------------------------------*/
:root {
  /* Box shadow */
  --bs-sm: 0 2px 5px rgba(#000,.1);
  --bs-md: 2px 3px 15px rgba(#000,.15);
  --bs-lg: 6px 5px 25px rgba(#000,.2);
}

.ts-shadow__sm {
  box-shadow: var(--bs-sm);
}
.ts-shadow__md {
  box-shadow: var(--bs-md);
}
.ts-shadow__lg {
  box-shadow: var(--bs-lg);
}
.ts-shadow__none {
  box-shadow: none !important;
}