/*-------------------------------------------
  -- Title
-------------------------------------------*/

.ts-title {
  margin-bottom: 30px ?if media (max-width: 575px);
  margin-bottom: 50px ?if media (min-width: 576px) and (max-width: 991px);
  margin-bottom: 80px ?if media (min-width: 992px);

  h5 {
    font-weight: normal;
    opacity: .5;
  }
}
