/*-------------------------------------------
  -- Hero Form Floated
-------------------------------------------*/
.floated {
  position: relative;
  width: 100%;
  z-index: 1;
  bottom: -30px;
  position: absolute ?if media (min-width: 992px);

  form {
    position: relative;
    padding: 30px 60px;
    padding: 40px 80px ?if media (min-width: 1200px);
  }
}