/*-------------------------------------------
  -- Price Box
-------------------------------------------*/
.ts-price-box__promoted {
  box-shadow: var(--bs-lg);
  margin-top: -20px;
  margin-bottom: 10px;
  z-index: 2;
  .ts-title {
    transform: scale(1.2);
  }
}