/*-------------------------------------------
  -- SVG Shapes
-------------------------------------------*/

.ts-svg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  z-index: -1;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  margin: auto;
}
